.Detail-flex {
  display: flex;
  align-items: center;
}

.Detail__pagination {
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.Detail__pagination--next {
}

.Pokemon-detail {
  width: 650px;
  height: 450px;
  margin: 50px 5px;
  border: 2px solid black;
  border-radius: 20px;
}
.Pokemon-detail__name {
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
}
.Pokemon-detail__name--id {
  color: #797d83;
  font-weight: 400;
  font-size: 15px;
}
.Pokemon-detail__grid {
  display: grid;
  grid-template-columns: repeat(2, 275px);
  grid-template-rows: 275px 120px;
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
}
.Pokemon-detail__img-container {
  width: 100%;
  height: 100%;
}
.Pokemon-detail__img {
  height: 100%;
  width: 100%;
}
.Pokemon-detail__stats {
  display: flex;
}
ul {
  list-style-type: none;
}
.Pokemon-detail__stat--name,
.Pokemon-detail__stat--value {
  color: white;
  margin-top: 12px;
  padding: 3px 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  background-color: #797d83;
}
.Pokemon-detail__types--multiple-type,
.Pokemon-detail__Weaknesses--multiple-type {
}
.Pokemon-detail__Weaknesses--title {
  font-size: 20px;
  font-weight: bold;
}
